.youtuber__inner {
    display: flex;
    flex-wrap: wrap;

    .youtuber {
        // margin: 1rem;
        // width: 150px;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        // justify-content: center;
        margin-bottom: 20px;

        .youtuber__img {
            // width: 150px;
            // height: 150px;
            border-radius: 50%;
            overflow: hidden;
            // margin-bottom: 0.5rem;
        }

        .youtuber__info {
            text-align: center;
            padding-top: 5px;
        }
    }
}

#youtuberPage {
    .youtuber__inner {
        text-align: center;

        .youtuber {
            margin-right: 20px;
            width: 150px;

            .youtuber__img {
                width: 150px;
                height: 150px;
            }
        }
    }

    @media (max-width: 800px) {
        .youtuber__inner {
            justify-content: space-between;

            .youtuber {
                width: 23%;
                margin-right: 0;
            }

            .youtuber__img {
                width: 100%;
                height: auto;
            }
        }
    }

    @media (max-width: 600px) {
        .youtuber__inner {
            .youtuber {
                width: 31%;
            }

        }
    }

    @media (max-width: 400px) {
        .youtuber__inner {
            .youtuber {
                width: 48%;
            }

        }
    }
}